<h2>Calendar</h2>

<p>Enter how many times you can go to the gym per week, and it will spit out a workout builder that will add up to the full 150 minutes of exercise recommended (or 75 high intensity, or combination).</p>

<p>gives you ability to configure a week's workout schedule with specific exercises.</p>

<p>Export to calendar or in calendar format with detailed workout plan & ideas on what to eat pre-/post-workout.</p>