<h2>Dashboard</h2>

<p>Enter Birthday, height, weight, %BF. These are then plotted as stats on a chart for age group average.</p>
<p>Have alert on specific time of week to update the values. (i.e. Saturday before lunch)</p>
