<h2>Growth</h2>

<p>After doing an exercise, log reps & weight done for strength or distance & time for cardio to track progress of what you do to reach your moderate & intensive target heart rate.</p>